&i2c1_default {
  group1 {
    psels = <NRF_PSEL(TWIM_SDA, 0, 12)>,
      <NRF_PSEL(TWIM_SCL, 0, 19)>;
  };
};

&i2c1_sleep {
  group1 {
    psels = <NRF_PSEL(TWIM_SDA, 0, 12)>,
      <NRF_PSEL(TWIM_SCL, 0, 19)>;
    low-power-enable;
  };
};

&i2c1 {
  status = "okay";
  clock-frequency = <100000>;
  pinctrl-0 = <&i2c1_default>;
  pinctrl-1 = <&i2c1_sleep>;

  aht10: aht10@38 {
    compatible = "asair,aht10";
    reg = <0x38>;
  };
};